# Zotero defaults & unmodified official styles
hidden/
american-anthropological-association.csl
apa.csl
bibtex.csl
cell.csl
chicago-author-date.csl
chicago-fullnote-bibliography.csl
chicago-note-bibliography.csl
elsevier-harvard.csl
ieee.csl
journal-of-phycology.csl
modern-humanities-research-association.csl
modern-language-association.csl
nature.csl
peerj.csl
plos.csl
vancouver.csl
