vancouver.csl
nature.csl
modern-language-association.csl
modern-humanities-research-association.csl
ieee.csl
elsevier-harvard.csl
chicago-note-bibliography.csl
chicago-fullnote-bibliography.csl
chicago-author-date.csl
cell.csl
apa.csl
american-anthropological-association.csl
